<!--  Any components called on this page will be presented and shown on the webpage itself -->
<!-- <h1 style="margin-left: auto; margin-right: auto;">Our Todo List</h1>
<todo-list></todo-list> -->

<!-- <login-page></login-page> -->

<!-- How do I make it so only one component is showing on the page at a time, but also how can I dynamically change what component is on the page?
    Solution: routing -->

<router-outlet></router-outlet>
<!-- Router outlet will be used to dynamically render components based off the route we are currently at -->